<!-- html for the index page -->
<div>
<% @events.each do |event| %>
  <a href="/events/<%= event.id  %>">Name: <%= athlete.fullname() %></a> Gender: <%= athlete.gender %><br><hr>
<% end %>

<a href="/events/new">Add new event</a><br>
</div>