<!-- html for the new event page -->

<h2>Add Event</h2>

<form action="/events" method="post">

  <label for="Sport">Event:</label>
  <input type="text" name="name"><br>

  <input type='submit' value="Add Event!">
</form>


<br>
<br>
<a href="/events">Back</a>
<a href="/">Home</a>