<!-- html for the homepage -->

<div>
  <h1>Welcome to the Rio 2016 Olympics Results app!</h1>
  <a href="/nations">Nations</a>
  <a href="/athletes">Athletes</a>
  <a href="/events">Events</a>
</div>