<!-- html for the index page -->
<div>
<h1>Participating Nations:</h1>
<br>
<% @nations.each do |nation| %>
  <a href="/nations/<%= nation.id  %>"><%= nation.name %><br></a>
<% end %>
<br>
<br>
<a href="/nations/new">Add new country</a><br>
<br>
<br>
<a href="/">Back</a>