<!-- html for the new nation page -->
<!-- html for the new event page -->

<h2>Add New Nation</h2>

<form action="/nations" method="post">

  <label for="name">Country:</label>
  <input type="text" name="name"><br>

  <input type='submit' value="Add New Nation!">
</form>


<br>
<br>
<a href="/nations">Back</a>