<!-- html for the show nations page -->

<div>
<h1><%= @nation.name %></h1>

<h4>Athletes:</h4>
<ul>
  <% @nation.athletes.each do |athlete| %>
  <li>Name: <a href= "/athletes/<%= athlete.id  %>"> <%=athlete.full_name %> </a></li>
  <% end %>
</ul>
<a href="/athletes/new/">Add new athlete</a><br>
</div>

