<!-- html for the show nations page -->

<div>
<h1><%= @nations.name %></h1>


<h4>Athletes:</h4>
<ul>
  <% @nations.athletes.each do |athlete| %>
  <li>Name: <%=athlete.name %> </li>
  <% end %>
</ul>

</div>