<!-- html for the show nations page -->

<div>
<h1><%= @nation.name %></h1>

<h4>Athletes:</h4>
<ul>
  <% @nation.athletes.each do |athlete| %>
  <li>Name: <%=athlete.full_name %> </li>
  <% end %>
</ul>

</div>