<!-- html for the index page -->
<h1>Participating Athletes:</h1>
<br>
<div>
<% @athletes.each do |athlete| %>
  Name: <a href="/athletes/<%= athlete.id  %>"><%= athlete.full_name %></a>   Gender: <%= athlete.gender %><br><hr>
<% end %>

<a href="/athletes/new">Add new athlete</a><br>
</div>