<!-- html for the new athlete page -->

<h2>Add Athlete</h2>

<form action="/athletes" method="post">

  <label for="first_name">First Name:</label>
  <input type="text" name="title"><br>

  <label for="author">Author:</label>
  <input type="text" name="author"><br>

  <input type='submit' value="Add Book!">
</form>


<br>
<br>
<a href="/">Back</a>