<!-- html for the show page page -->
<div>
<h1><%= @athlete.full_name %></h1>

<h4>Events:</h4>
<ul>
  <% @athlete.events.each do |event| %>
  <li>Name: <a href="/events/<%= event.id  %>"><%=event.sport %> </li>
  <% end %>
</ul>

</div>