<!-- html for the show page page -->
<div>
<h1><%= @athlete.full_name %></h1>

<h4>Events:</h4>
<ul>
  <% @athlete.events.each do |event| %>
  <li>Name: <%=event.name %> </li>
  <% end %>
</ul>

</div>